@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
body {
    background-color: #cad2c5;
}
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.8fr 0.8fr 1.3fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1.2fr 1.8fr;
    grid-template-areas: 
    "header header header header header"
    "main main search search search"
    "main main profile profile profile"
    "main main footer footer footer";
}
.header {
    background-color: #2f3d46;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 9fr;
}
.main {
    grid-area: main;
    display: flex;  
    align-items: center;
    justify-content: center;
}
.main-content-box {
    width: 60%;
    height: 80%;
    background-color: #353535;
    border-radius: 20px;
    color: lightgray;
    text-align: center;
    line-height: 500px;
    /* margin-left: 50px; */
}
.search-box {
    grid-area: search;
    display: flex;
    align-items: center;
    justify-content: center;
}
input {
    background-color: #353535;
    width: 70%;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: lightgray;
    padding-left: 30px;
    font-size: 1.2em;
}
.profile {
    grid-area: profile;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 24px;
}
.content {
    width: 250px;
    height: 160px;
    margin: 20px;
    background-color: #353535;
    border-radius: 20px;
    line-height: 160px;
    text-align: center;
    color: lightgray;
}
.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;

}
.footer-box {
    color: lightgray;
    background-color: #353535;
    width: 96%;
    height: 60%;
    line-height: 150px;
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
    margin-right: 30px;
}

img {
    height: 50px;
    padding-left: 20px;
    align-self: center;
}
h3 {
    justify-self: center;
    align-self: center;
    color: whitesmoke;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.5em;   
}



@media only screen and (max-width : 850px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.3fr 0.9fr 2fr 0.9fr;
        grid-template-areas: 
        "header"
        "search"
        "main"
        "profile"
        "footer";
    }
    .header {
        display: grid;
        grid-template-columns: 1fr 9fr;
    }
    img {
        height: 50px;
        padding-left: 10px;
        align-self: center;
    }
    h3 {
        justify-self: center;
        align-self: center;
        color: whitesmoke;
    }
    .search-box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    input {
        background-color: #353535;
        border: none;
        border-radius: 10px;
        color: lightgray;
        padding-left: 10px;
        height: 30px;
    }
    .main {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main-content-box {
        background-color: #353535;
        color: lightgray;
        height: 80%;
        width: 80%;
        border-radius: 20px;
        text-align: center;
        line-height: 130px;
        margin-left: 0;
    }
    .profile {
        display: flex;
        /* flex-direction: column; */
        justify-content: space-between;
        align-items: center;
        margin-right: 0;
    }
    .content {
        width: 65%;
        background-color: #353535;
        color: lightgray;
        height: 100px;
        text-align: center;
        line-height: 100px;
        border-radius: 20px;
    }
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-box {
        color: lightgray;
        background-color: #353535;
        width: 95%;
        height: 100px;
        line-height: 100px;
        border-radius: 10px;
        text-align: center;
        margin-top: 0;
        margin-right: 0;
    }
}


@media only screen and (max-width : 420px) {

    .profile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-right: 0;
    }
    
}